body{
    background: #ff5f6d;
    background: -webkit-linear-gradient(left, #ff5f6d, #ffc371);
    background: -moz-linear-gradient(left, #ff5f6d, #ffc371);
    background: -o-linear-gradient(left, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);;
}


.container input{
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    height: 40px;
    width: 500px;
    bottom: 100px;
}

.container{
    height: 200px;
    padding-top: 50px;
}